# ignore log 
logs/
**/*.log

# ignore directory for building
build/

# ignore directory for third party libraries
third_party/

# ignore vscode configuration directory
.vscode/

# ignore NanoLog files
**/decompressor
**/compressedLog

# ignore output
assets/output/